body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}


/* Scroll animation */

.scroll-wrapper {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.scroll-content {
  display: flex;
  gap: 2rem; /* Matches Tailwind's gap-10 */
  animation: scroll-left 10s linear infinite;
  width: max-content;
}

@media (max-width: 640px){
  .scroll-content {
    gap: 1rem
  }
}

.scroll-wrapper:hover .scroll-content {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}